#preview {
    margin-top: 100px;
    width: 100%;
}

#qrform {
    margin-top: 100px;
}

.hero {
    position: relative;
    width:  100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(home.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center ;
    filter: brightness(40%);
}

.hero-content {
    position: relative;
    color: white;
    text-align: center;
    margin: 0.625rem;
    height: 50px;
}

.hero-title {
    font-size: 5rem;
    font-family: "Times", sans-serif;
    font-weight: 600;
    margin-bottom: 0;
}

.hero-subtitle {
    font-size: 1.4rem;
    font-weight: 200;
    font-family: Helvetica, serif;
    margin-top: 1rem;
}

.hero-button {
    background-color: #e2af06;
    color: black;
    border: 1px solid #f5be07;
    margin-top: 1rem;
    padding: 0.9375rem 1.875rem;
    font-family: "Monserrat", sans-serif;
    font-size: 1.125rem;
    font-weight: 200;
    cursor: pointer;
}

.hero-button:hover {
    background-color: #f9c416;
    border: 1px solid #f9c92a;
}

.main_nav ul
{
	height: 50px;
    list-style-type: none;
}
.main_nav ul li:not(:last-of-type)
{
	margin-right: 57px;
}
.main_nav ul li a
{
	font-size: 16px;
	font-weight: 600;
	color: #ffffff;
    text-decoration: none;
}
.main_nav ul li a:hover,
.main_nav ul li.active a
{
	color: #e2af06;
}


.header
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: rgba(119, 104, 40, 0.878);
	z-index: 101;
	border-bottom: solid 2px #e2af06;
}
.header_content
{
	width: 100%;
	height: 240px;
}

.logo {
    width: 190px;
    height: 190px;
    align-items: center;
}

.logo_container {
    height: 170px;
}

.right_nav
{
	position:absolute;
	bottom: 0;
	right: 0;
	height: 60px;
    margin-right: 20px;
}

.right_nav ul li:not(:last-of-type) {
    margin-right: 8px;
    color: #e2af06;
}

.hamburger
{
	display: none;
	cursor: pointer;
	padding: 5px;
}
.menu_overlay .hamburger
{
	display: inline-block;
}
.hamburger i
{
	font-size: 24px;
	color: #ffffff;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu_overlay .hamburger i
{
	color: #ff9000;
}
.hamburger:hover i
{
	color: #ff9000;
}

.icon {
    color: rgb(175, 54, 54);
    font-size: 5em;
}


